{{ define "index" }}
<!doctype html>
<html lang="en">

    {{ template "header" }}

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                {{ range. }}
                <tbody>
                    <tr>
                        <td>{{.Id}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Email}}</td>
                        <td>
                        <a name="" id="" class="btn btn-warning" href="/edit?id={{.Id}}" role="button">Edit</a>
                        <a name="" id="" class="btn btn-danger" href="/delete?id={{.Id}}" role="button">Delete</a>
                        </td>
                    </tr>
                </tbody>
                {{ end }}

            </table>
        <a name="" id="" class="btn btn-primary" href="/create" role="button">Add employee</a>
    {{ template "footer" }}


{{ end }}